# --- Entorno Virtual ---
venv/
ENV/
env/

# --- Configuración de Editores (VS Code, PyCharm/IntelliJ) ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Caché y archivos temporales de Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Base de datos local (Por si usas SQLite en desarrollo) ---
*.sqlite3

# --- Archivos del sistema u otros compilados/generados ---
.DS_Store
Thumbs.db
db.sqlite3

# --- Otros
AGENTS.md
CLAUDE.md